@tailwind base;
@tailwind components;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

body {
  @apply bg-cream text-primary;
}

.container {
  @apply relative px-4 xl:px-10 3xl:px-14 4xl:px-20 w-full mx-auto;
}

@tailwind utilities;



/* -------------------------------------------- */
/* SANITY STUDIO STYLES */
body:has([data-ui="NextStudioLayout"]) {
  .header, .footer {
    @apply hidden;
  }
}

[data-testid='group-tab-all-fields'] {
  display: none !important;
}

form > [data-ui="Stack"] {
  grid-gap: 1.75rem !important;
}